<h2>Welcome, <% if user_signed_in? && current_user.name %><%= current_user.first_name %><% else %> Friend<% end %>!</h2>

<p>Thanks for using this Rails 5 base app to begin your project utilizing Devise, Omniauth, Omniauth-Facebook, and Bootstrap</p>


